.fivesteps-wrapper{
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
    
    .fivesteps-container{
        margin: 20px 0px 0px 0px;
        display: flex;

    }
    .steps-img{
        max-width: 120px;
        min-width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 0.6;
        transform: rotate(-5deg);
        transition: 0.3s;
    }
    .steps-img:hover{
        opacity:1;
        transform: rotate(10deg);
    }

    .easy-steps {
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
        text-transform: lowercase;
        color: #ec5f58;
    }

}

@media(max-width: 600px){
    .fivesteps-wrapper{
        display: none;
    }
}