.corp-gc-wrapper {
    margin: 3.6vw;
    .gc-container {
        display: table;
        width: 100%;
        background: #88cdcf;
        height: 200px;
        .gc-table {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            .gc-flexed {
                display: flex;
                justify-content: center;

                .gc-title {
                    margin: auto 0;
                    font-family: Montserrat;
                    font-size: 40px;
                    font-weight: 600;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    padding-right: 20px;
                }
                .gc-icons {
                    text-align: center;
                    .icon img {
                        padding: 1vw;
                        width:65px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .corp-gc-wrapper {
        margin: 0;
        .gc-container {
            .gc-table {
                width: 100%;
                .gc-flexed {
                    flex-direction: column;
                    .gc-title {
                        font-size: 30px;
                        padding:30px 0px 0px 0px;
                    }
                    .gc-icons {
                        padding: 10px 0px 20px 0px;
                        .icon img {
                            width: 55px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .corp-gc-wrapper {
        margin: 0;
        .gc-container {
            .gc-table {
                width: 100%;
                .gc-flexed {
                    flex-direction: column;
                    .gc-title {
                        font-size: 30px;
                        padding:30px 0px 0px 0px;
                    }
                    .gc-icons {
                        padding: 10px 0px 20px 0px;
                        .icon img {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .corp-gc-wrapper {
        margin: 0;
        .gc-container {
            .gc-table {
                width: 100%;
                .gc-flexed {
                    flex-direction: column;
                    .gc-title {
                        font-size: 30px;
                        padding:20px 0px 0px 0px;
                    }
                    .gc-icons {
                        padding: 20px 0px 20px 0px;
                        .icon img {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}
