.split-box-right {
    .split-box-image-container {
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        height: 600px;
        .split-box-image {
            min-height: 100%;
            max-height: 110%;
        }
    }

    .split-box-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
}

@media (max-width: 959px) {
    .split-box-text .MuiTypography-h3 {
        font-size: 2rem;
    }

    .split-box-right {
        height: 450px;
        .split-box-image-container {
            height: 450px;
        }
        .split-box-text {
            height: 450px;
        }
    }
}

@media (max-width: 600px) {
    .split-box {
        display: none;
    }
    .split-box-right {
        height: 300px;
        .split-box-image-container {
            height: 300px;
        }
        .split-box-text {
            height: 300px;
        }
    }
}
