.split-box-right {
    .split-box-image-container {
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        height: 600px;
        .split-box-image {
            height: 100%;
            //background-image: url(https://images.pexels.com/photos/1797428/pexels-photo-1797428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
    }

    .split-box-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        background: #f9dc2f;
    }
}

@media (max-width: 959px) {
    .split-box-text .MuiTypography-h3 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .split-box {
        display: none;
    }
    .split-box-right {
        height: 300px;
        .split-box-image-container {
            height: 300px;
        }
        .split-box-text {
            height: 300px;
        }
    }
}
