.email-subscription-wrapper {
    background: #ffffff;
    background: url("../../assets/images/BoxCollage.png");
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px;
    .email-subscription-container {
        background: #ffffff;
        text-align: center;
        margin: auto;
        width: 30%;
        padding: 25px 0px;
        box-shadow: 0px 0px 4px #b0b0b0;
        border-radius: 2px;
        .button {
            margin:5px;
        }
        .earlyrisers{
            font-family: "Shakies";
            position: relative;
            top:2px;
            background: linear-gradient(90deg, rgba(232,83,80,1) 0%, rgba(232,140,80,1) 51%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 0 5px 0px 5px;
        }
    }
    @media (max-width: 1800px) {
        .email-subscription-container {
        width: 40%;
        }
    }
    @media (max-width: 1300px) {
        .email-subscription-container {
        width: 50%;
        }
    }
    @media (max-width: 1100px) {
        .email-subscription-container {
        width: 60%;
        }
    }
    @media (max-width: 900px) {
        .email-subscription-container {
        width: 80%;
        }
    }
}
