@import url("http://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");

.topcategories-wrapper {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 5px 0px;

    .topcategories-container {
        width: 100%;
        max-width: 1000px;
        margin: auto;

        .grid-button-base {
            text-decoration: none !important;
            .icon-button-container {
                width: 200px;
                height: 200px;
                background: #ec5f58;
                text-align: center;
                border: salmon 4px solid;
                border-radius: 10px;
            }
            .icon-button-container:hover, .icon-button-container:active{
                background: #bc4c46;
            }
        }
    }
}

.MuiButtonBase-root {
    outline: none !important;
}
