@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");


.topcategories-wrapper {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    .occasions {
        width: 90%;
    .topcategories-container {
        width: 100%;
        max-width: 100%;
        margin: auto;
        .grid-button-base {
            text-decoration: none !important;
            width:100%;
            .icon-button-container {
                background-image: url("../../assets/images/O-Sympathy.png");
                background-position: center;
                background-size: cover;
                opacity: .4;
            }
            .icon-button-container:hover, .icon-button-container:active{
                border: 4px!important;
                opacity: 1;
                background-image: url("../../assets/images/O-Sympathy.png");
                background-position: center;
                background-size: cover;
            }
            .icon-button-container-Birthday {
                background-image: url("../../assets/images/O-Birthday.png");
                background-position: center;
                background-size: cover;
                opacity: .4;
            }
            .icon-button-container-Birthday:hover, .icon-button-container-Birthday:active{
                border: 4px!important;
                opacity: 1;
                background-image: url("../../assets/images/O-Birthday.png");
                background-position: center;
                background-size: cover;
            }
            .icon-button-container-Holiday {
                background-image: url("../../assets/images/O-Holiday.png");
                background-position: center;
                background-size: cover;
                opacity: .4;
            }
            .icon-button-container-Holiday:hover, .icon-button-container-Holiday:active{
                opacity: 1;
            }            
        }
    }
    }
}



.MuiButtonBase-root {
    outline: none !important;
}
