.inquiry-wrapper {
    background: #fdf6e6;
    .inquiry-container {
        margin: 0 auto;
        padding: 35px 0px;
        width: 700px;
        .inquiry-card {
            border-radius: 0px;
            box-shadow: 0px 3px 6px rgba($color: #333333, $alpha: 0.3);
            .inquiry-title {
                width: 100%;
                background-color: #ec5f58;
                .inquiry-title-text {
                    font-family: Montserrat, Arial, Helvetica, sans-serif;
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 50px;
                    text-align: center;
                    margin-top: 0;
                }
            }
        }
    }
}
