.solutions-wrapper{
    background-color: #8bd2d8;
    .solutions-container{
        padding: 35px 0px;
        .example-solutions{
            text-align: center;
            color: #333;
            font-family: Montserrat, arial, sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
        }
        .example-tagline{
            text-align: center;
            color: #ec5f5b;
            font-family: Montserrat, arial, sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
        }
    }
}