.occasion-wrapper {
    margin: 3.6vw;
    color: #63666a;
    .occasion-container {
        background-color: #fff;
        .occasion-tiles-mobile {
            display: flex;
            flex-direction: column;
            .row {
                display: flex;
                justify-content: center;
                text-align: center;
                .tile-pattern {
                    margin: 1.8vw;
                    &.Birthday {
                        background-image: url("../../assets/images/Birthday.png");
                    }
                    &.Holiday {
                        background-image: url("../../assets/images/Holiday.png");
                    }
                    &.JustBecause {
                        background-image: url("../../assets/images/JustBecause.png");
                    }
                    &.Sympathy {
                        background-image: url("../../assets/images/Sympathy.png");
                    }
                    &.Congrats {
                        background-image: url("../../assets/images/Congrats.png");
                    }
                    &.ThankYou {
                        background-image: url("../../assets/images/ThankYou.png");
                    }
                    &.Baby {
                        background-image: url("../../assets/images/Baby.png");
                    }

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    overflow: hidden;
                    height: 25vw;
                    width: 25vw;
                    position: relative;
                    box-shadow: 0px 3px 6px rgba(#000, 0.16);
                    transition-duration: 0.5s;

                    &.DoubleWide {
                        width: 53.6vw;
                        box-shadow: none;
                        .occ-mobile-title {
                            font-size: 4.3vw;
                            font-family: Montserrat, Arial, Helvetica, sans-serif;
                            font-weight: 500;
                            text-align: center;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }
                        .shakies {
                            font-size: 8.5vw;
                            font-family: Shakies, Arial, Helvetica, sans-serif;
                            font-weight: normal;
                            line-height: 90%;
                            text-transform: lowercase;
                            color: #ec5f58;
                        }
                        .occ-mobile-subtitle {
                            font-size: 3.2vw;
                            font-family: Montserrat, Arial, Helvetica, sans-serif;
                            font-weight: normal;
                            text-transform: uppercase;
                            text-align: center;
                            margin-top: 0;
                        }
                    }
                    &.DoubleWide:hover{
                        box-shadow: none;
                    }
                }
                .tile-pattern:hover {
                    box-shadow: 0px 3px 12px rgba(#000, 0.32);
                }
                .tile-white {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0 auto;
                    width: 75%;
                    height: 75%;
                    background-color: white;
                    box-shadow: 0px 3px 6px rgba(#000, 0.16);
                    display: table;
                }
                .tile-title {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 2.5vw;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #63666a;
                }
            }
        }
    }
}

@media(min-width: 1200px){
    .occasion-wrapper {
        .occasion-container {
            .occasion-tiles-mobile {
                .row {
                    .tile-pattern {
                        margin: 21.6px;
                        height: 300px;
                        width: 300px;
                        &.DoubleWide {
                            width: 643.2px;
                            .occ-mobile-title {
                                font-size: 51.6px;
                            }
                            .shakies {
                                font-size: 102px;
                            }
                            .occ-mobile-subtitle {
                                font-size: 38.4px;
                            }
                        }
                    }
                    .tile-title {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
