.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    text-align: center;
}

.banner-subtitle {
    text-align: center;
}