.split-box-image {
    background-Image: url(https://images.pexels.com/photos/961402/pexels-photo-961402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.split-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: #ffefea;
}

.split-box-text .MuiTypography-h4 {
    padding: 0px 10%;
    text-align: center;
}

.split-box-text .MuiTypography-h6 {
    padding: 0px 10%;
    text-align: center;
}

.split-box-text .MuiButton-root {
    margin-top: 10%;
    width: 200px;
    background: #ffa483;
}

.split-box-text .MuiButton-root:hover, .split-box-text .MuiButton-root:active {
    margin-top: 10%;
    width: 200px;
    background: coral;
}

@media (max-width: 959px) {
    .split-box-image {
        max-height: 500px;
    }
    .split-box-text {
        max-height: 500px;
    }
}

@media (max-width: 600px) {
    .split-box {
        display: none;
    }
}