@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap');

.aboutus-wrapper {
    .our-story
    {
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
        text-transform: lowercase;
        color: #ec5f58;    
    }
    .based-in-the-gta
    {
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
        text-transform: lowercase;
        color: #8bd2d8;
    }

    .aboutus-image-div{
        height: 400px;
        background-image: url('https://images.pexels.com/photos/2208836/pexels-photo-2208836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
    }
}

@media (max-width: 600px) {
    .aboutus-wrapper {
        .aboutus-image-div{
            height: 100px;
            background-image: url('https://images.pexels.com/photos/2208836/pexels-photo-2208836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-position: center;
            background-size: cover;        }
    }
}
