.fivesteps-wrapper{

    .fivesteps-container{
        padding: 0px 100px 100px 100px;
    }
    .steps-img{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}