@import '_theme.scss';

@font-face {
  font-family: 'Shakies';
  font-style: normal;
  src: url('../assets/fonts/Shakies-Web-TT.eot'); /* IE9 Compat Modes */
  src: local('Shakies'), local('Shakies'),
      url('../assets/fonts/Shakies-Web-TT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/fonts/Shakies-Web-TT.woff') format('woff'), /* IE6-IE8 */
      url('../assets/fonts/Shakies-Web-PS.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/fonts/Shakies-Web-TT.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Shakies Swash';
  font-style: normal;
  src: url('../assets/fonts/ShakiesSwash-Web-TT.eot'); /* IE9 Compat Modes */
  src: local('Shakies Swash'), local('ShakiesSwash'),
      url('../assets/fonts/ShakiesSwash-Web-TT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/fonts/ShakiesSwash-Web-TT.woff') format('woff'), /* IE6-IE8 */
      url('../assets/fonts/ShakiesSwash-Web-PS.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/fonts/ShakiesSwash-Web-TT.ttf') format('truetype'), /* Safari, Android, iOS */
}

.home{
  .middle-section {
    margin: 0 auto;

    @media (min-width: $lg) {
      width: 1160px;
    }

    @media (min-width: $md) and (max-width: $lg) {
      width: 727px;
    }


    @media (min-width: $sm) and (max-width: $md) {
      width: 536px;
    }

    @media (min-width: $xs) and (max-width: $sm) {
      width: 300px;
    }
  }

  .categories-wrapper {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $xl) {
      padding: 55px 0px 12px 0px;
    }

    @media (min-width: $lg) and (max-width: $xl) {
      padding: 55px 0px 12px 0px;
    }

    @media (min-width: $md) and (max-width: $lg) {
      padding: 40px 0px 12px 0px;
    }

    @media (min-width: $sm) and (max-width: $md) {
      padding: 40px 0px 12px 0px;
    }

    @media (min-width: $xs) and (max-width: $sm) {
      padding: 40px 0px 12px 0px;
    }

    @media (max-width: $xs) {
      padding: 40px 0px 12px 0px;
    }
  }

  .divider{
    height: 1px;
    margin: 0 auto;
    background: var(--color-line);
  }

  .spacer {
    padding: 150px 0px;
    background-color: white;
  }

  .featured-products-wrapper {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $xl) {
      padding: 55px 0px;
    }

    @media (min-width: $lg) and (max-width: $xl) {
      padding: 55px 0px;
    }

    @media (min-width: $md) and (max-width: $lg) {
      padding: 40px 0px;
    }

    @media (min-width: $sm) and (max-width: $md) {
      padding: 40px 0px;
    }

    @media (min-width: $xs) and (max-width: $sm) {
      padding: 40px 0px;
    }

    @media (max-width: $xs) {
      padding: 40px 0px;
    }
  }
}



