.design-grid-wrapper{
    background-color:#ffffff;
    padding: 0px 0px 40px 0px;
    .design-grid-container {
        padding: 50px 20% 50px;
        .box-design-thumbnail {
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
@media(max-width: 1600px){
    .design-grid-wrapper{
        .design-grid-container {
            padding: 50px 20% 0px;
        }
    }
}
@media(max-width: 1200px){
    .design-grid-wrapper{
        .design-grid-container {
            padding: 50px 10% 0px;
        }
    }
}